body {
    height: 100vh;
    background-image: linear-gradient(rgb(20, 34, 64), rgb(147, 44, 211));
}

.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container {
    max-width: 955px;
    border: 2px solid black;
    border-radius: 40px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;

}
.message {
background-color: rgb(23, 137, 135);
width: 24%;
padding: 10px;
margin: 17px 12px;
border: 2px rgb(12, 90, 100);
border-radius: 50px;
}

.left {
float: left;
clear: both;
}

.right {
float: right;
clear: both;
}
#send-container{
display: block;
margin: auto;
text-align: center;
max-width: 1085px;
width: 100%; 
}

#messageInp{
    width: 80%;
    border:rgb(12, 90, 100);
    border-radius: 50px;
    height: 34px;
    margin-top: 15px;
}

.btn{
    width: 9%;
    cursor: pointer;
    border: 2px rgb(12, 90, 100);
    border-radius: 15px;
    height: 34px;
}

